.card{
    /* border-radius: 20px; */
    color: var(--card-text-color, white);
}

.card.glass{
    background-color: color-mix(in oklch, var(--glass-color), transparent 80%);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
}

.card.glass.hoverable:hover {
    background-color: color-mix(in oklch, var(--glass-color), transparent 40%);
    box-shadow: 0 4px 10px color-mix(in oklch, var(--glass-color), transparent 85%);
}

.card.mate{
    background-color: var(--glass-color);
}

.card.outlined{
    border: 2px solid color-mix(in oklch, var(--glass-color), transparent 40%);
}

.card.ghost.hoverable:hover, .card.outlined.hoverable:hover{
    background: color-mix(in oklch, var(--glass-color), transparent 80%);
}

.card.mate.hoverable:hover{
    background-color: color-mix(in oklch, var(--glass-color), white 10%) 
}
